.fav-page.en
    .promo
        .container
            .promo__left
                .promo__title(data-translate="promoTitle") Play <br> like a #[span.magenta pro]
                .promo__subtitle(data-translate="promoSubtitle") With the "Profiplay" card and free spins from FAVBET
                .promo__card
                    picture
                        source(srcset="./img/promo/card-mob.png" media="(max-width: 600px)")
                        source(srcset="./img/promo/card-tab.png" media="(max-width: 1050px)")
                        img(src="./img/promo/card-desc.png" alt="profiplay")
                a(href="/personal-office/balance/deposit/" data-translate="mainBtn").promo__btn.btn MAKE A DEPOSIT
                .promo__bottom
                    span.promo__bottom-item(data-translate="promoBottomTitle") Promotion dates — from  21.10.2024 to 15.12.2024.
                    span.promo__bottom-item(data-translate="promoBottomText") Загальний призовий фонд акції, вид та розмір бонусної пропозиції встановлюється виключно на розсуд Організатора
            .promo__right
                .promo__pers
                    picture
                        source(srcset="./img/promo/pers-tab.png" media="(max-width: 1050px)")
                        img(src="./img/promo/pers-desc.png" alt="profiplay")
                .promo__bike
                    picture
                        source(srcset="./img/promo/bike-tab.png" media="(max-width: 1050px)")
                        img(src="./img/promo/bike-desc.png" alt="profiplay")
    .guide
        .container
            .guide__title(data-translate="guideTitle") How to get  #[span.magenta free spins?]
            .guide__list
                .guide__item
                    .guide__item-num 1
                    .guide__item-text(data-translate="guideItemText1") #[span.green-txt MAKE] a deposit from ₴150 using the #[strong «Profiplay» ] payment card.
                .guide__item
                    .guide__item-num 2
                    .guide__item-text(data-translate="guideItemText2") Щотижня #[span.green-txt Receive] guaranteed weekly free spins ranging from 50 FS to 150 FS, depending on the deposit amount.
    .prize
        .container
            .prize__title(data-translate="prizeTitle") Prizes
            .prize__subtitle(data-translate="prizeSubtitle") The bonus depends on the amount of your largest deposit during the week:
            .prize__list
                .prize__item
                    .prize__item-img
                        img(src="./img/prize/prize1.png" alt="prize box")
                    .prize__item-title(data-translate="prizeItemTitle1") 50 fs
                    .prize__item-text(data-translate="prizeItemText1") ₴150 - ₴249
                .prize__item
                    .prize__item-img
                        img(src="./img/prize/prize2.png" alt="prize box")
                    .prize__item-title(data-translate="prizeItemTitle2") 100 fs
                    .prize__item-text(data-translate="prizeItemText2") ₴250 - ₴599
                .prize__item
                    .prize__item-img
                        img(src="./img/prize/prize3.png" alt="prize box")
                    .prize__item-title(data-translate="prizeItemTitle3") 150 fs
                    .prize__item-text(data-translate="prizeItemText3") ₴600 and above
            details.dropdown
                summary(data-translate="prizeDropBtn") Prize distribution
                .drop-txt
                    .drop-txt-list(data-translate="prizeDrop")
                        p #[span.list-num 1] Make a deposit of at least ₴150 exclusively using the digital "Profiplay" card.
                        p #[span.list-num 2] After making a deposit with the aforementioned card, you will automatically qualify for a bonus in the form of FS in the game “Starlight Princess” from the Provider Pragmatic Play. The bonus is credited with a wagering requirement of ₴150 for deposits ranging from ₴150 to ₴249, ₴250 for deposits from ₴250 to ₴599, and ₴600 for deposits of ₴600 and above.  To receive the bonus, you must place bets in the "Casino" section totaling at least ₴150.
                        .drop__list
                            .list-box
                            .drop__list-item Bonus distribution based on the deposit amount:
                            .drop__list-item 150 ₴ -249₴: #[span.magenta  50 FS]
                            .drop__list-item 250 ₴ - 599₴: #[span.magenta  100 FS]
                            .drop__list-item 600₴ and above: #[span.magenta  150 FS]
    .info
        .container
            .info__buble
                .info__buble-title(data-translate="infoBuble") Welcome and play. When you're in the game, everything has to be perfect — even your bank card. <br> Download the "Profiplay" card.
                .info__buble-pers
            .info__title(data-translate="infoTitle") "Profiplay" is a unique card that gives you 3% cashback on digital entertainment, plus:
            .info__text
                .info__text-item(data-translate="infoText1") Free transfers to other bank cards up to ₴20,000 per month.
                .info__text-item(data-translate="infoText2") Fee-free withdrawals from any ATM worldwide, and much more.
    .card
        .container
            .card__phone
                .card__phone-title(data-translate="phoneTitle") Get your card in the mobile app:
                .card__phone-img-decor
                .card__phone-link-decor
                .card__phone-img
                    picture
                        source(srcset="./img/card/card-mob.png" media="(max-width: 600px)")
                        img(src="./img/card/card-desc.png" alt="profiplay")
                a(href="https://hi.sensebank.com.ua/atgQRTqgegSm8yiB7" target="_blank").card__phone-link #[span.card__phone-link-btn(data-translate="phoneBtn") get the card]
                .card__phone-bottom(data-translate="phoneBottom") Scan and apply for <br> the card.
                .card__phone-bottom.text-mob(data-translate="phoneBottomMob") Press and apply for <br> the card.
                a(href="https://sensebank.ua/packages/profiplay" target="_blank" data-translate="cardBottomLink").card__bottom Find more about the <br> "Profiplay" card
            .card__pers
                .card__title(data-translate="cardTitle") Don’t have a #[span.magenta Profiplay?] card yet?
                picture
                    source(srcset="./img/card/pers-mob.png" media="(max-width: 600px)")
                    source(srcset="./img/card/pers-tab.png" media="(max-width: 1050px)")
                    img(src="./img/card/pers-desc.png" alt="profiplay")
    .table
        .table__container.container
            .table__title(data-translate="tableTitle") Results table <br> #[span.magenta “Free spins for the deposit”]
            .table__subtitle(data-translate="tableSubtitle") Prizes are credited every Wednesday for the previous week.
            .table__wrap
                .table__scrollbar
                    .table__scrollbar-thumb
                .table__head
                    .table__head-item(data-translate="tableId") Player ID
                    .table__head-item(data-translate="tableDeposit") The deposit amount required to receive a prize:
                    .table__head-item(data-translate="tableFs") Free spins
                    .table__head-item(data-translate="tableDate") Date of accrual
                .table__body
                    .table__body-scroll
                        .table__row
                            .table__row-item 567898765
                            .table__row-item 150 ₴ - 250₴
                            .table__row-item 2250
                            .table__row-item 23.11.2024

                        .table__row
                            .table__row-item 567898765
                            .table__row-item 250 ₴ - 599₴
                            .table__row-item 2250
                            .table__row-item 23.11.2024

                        .table__row
                            .table__row-item 567898765
                            .table__row-item 600₴ and above
                            .table__row-item 2250
                            .table__row-item 23.11.2024

                        .table__row
                            .table__row-item 567898765
                            .table__row-item 150 ₴ - 250₴
                            .table__row-item 2250
                            .table__row-item 23.11.2024
                        .table__row
                            .table__row-item 567898765
                            .table__row-item 150 ₴ - 250₴
                            .table__row-item 2250
                            .table__row-item 23.11.2024
                        .table__row
                            .table__row-item 567898765
                            .table__row-item 150 ₴ - 250₴
                            .table__row-item 2250
                            .table__row-item 23.11.2024
                        .table__row
                            .table__row-item 567898765
                            .table__row-item 150 ₴ - 250₴
                            .table__row-item 2250
                            .table__row-item 23.11.2024
                        .table__row
                            .table__row-item 567898765
                            .table__row-item 150 ₴ - 250₴
                            .table__row-item 2250
                            .table__row-item 23.11.2024
                        .table__row
                            .table__row-item 567898765
                            .table__row-item 150 ₴ - 250₴
                            .table__row-item 2250
                            .table__row-item 23.11.2024
                        .table__row
                            .table__row-item 567898765
                            .table__row-item 150 ₴ - 250₴
                            .table__row-item 2250
                            .table__row-item 23.11.2024
                        .table__row
                            .table__row-item 567898765
                            .table__row-item 150 ₴ - 250₴
                            .table__row-item 2250
                            .table__row-item 23.11.2024
                        .table__row
                            .table__row-item 567898765
                            .table__row-item 150 ₴ - 250₴
                            .table__row-item 2250
                            .table__row-item 23.11.2024
                        .table__row
                            .table__row-item 567898765
                            .table__row-item 150 ₴ - 250₴
                            .table__row-item 2250
                            .table__row-item 23.11.2024
                        .table__row
                            .table__row-item 567898765
                            .table__row-item 150 ₴ - 250₴
                            .table__row-item 2250
                            .table__row-item 23.11.2024
                        .table__row
                            .table__row-item 567898765
                            .table__row-item 150 ₴ - 250₴
                            .table__row-item 2250
                            .table__row-item 23.11.2024
            a(href="/personal-office/balance/deposit/" data-translate="mainBtn").table__btn.btn MAKE A DEPOSIT
    .drop
        .container
            details.dropdown
                summary(data-translate="rulesTitle") Official rules and details of the “Play like a Pro” promotion:
                .drop-txt
                    .drop-txt-list(data-translate="rulesTxt")
                        p Роби депозит від 150₴  виключно з цифрової картки «Profiplay»
                        p Роби депозит від 150₴  виключно з цифрової картки «Profiplay»
                        p Роби депозит від 150₴  виключно з цифрової картки «Profiplay»
                        p Після здійснення  депозиту з вищезазначеної картки, автоматично отримуй право на бонус у вигляді FS у грі “------------” від Провайдера —--------, що нараховується з вейджером 150₴ за депозит в діапазоні 150 ₴ -249₴, з вейджером  250 ₴ за депозит в діапазоні 250 ₴- 599₴, з вейджером 600₴ за депозит в діапазоні 600₴ і більше., тож для його отримання необхідно зробити ставки у розділі “Казино” на суму від 150₴.
                        p Після здійснення  депозиту з вищезазначеної картки, автоматично отримуй право на бонус у вигляді FS у грі “------------” від Провайдера —--------, що нараховується з вейджером 150₴ за депозит в діапазоні 150 ₴ -249₴, з вейджером  250 ₴ за депозит в діапазоні 250 ₴- 599₴, з вейджером 600₴ за депозит в діапазоні 600₴ і більше., тож для його отримання необхідно зробити ставки у розділі “Казино” на суму від 150₴.
                        p Після здійснення  депозиту з вищезазначеної картки, автоматично отримуй право на бонус у вигляді FS у грі “------------” від Провайдера —--------, що нараховується з вейджером 150₴ за депозит в діапазоні 150 ₴ -249₴, з вейджером  250 ₴ за депозит в діапазоні 250 ₴- 599₴, з вейджером 600₴ за депозит в діапазоні 600₴ і більше., тож для його отримання необхідно зробити ставки у розділі “Казино” на суму від 150₴.
                        p Після здійснення  депозиту з вищезазначеної картки, автоматично отримуй право на бонус у вигляді FS у грі “------------” від Провайдера —--------, що нараховується з вейджером 150₴ за депозит в діапазоні 150 ₴ -249₴, з вейджером  250 ₴ за депозит в діапазоні 250 ₴- 599₴, з вейджером 600₴ за депозит в діапазоні 600₴ і більше., тож для його отримання необхідно зробити ставки у розділі “Казино” на суму від 150₴.
